<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
<!--           <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          /> -->
          <div style="text-align:center"><img src="https://pic2.zhimg.com/80/v2-816c98036887f5906c6f5601e5fe4141_1440w.webp" width=280 height=210 align=center class="profile-pic"/></div>
          <!-- <div style="text-align:center"><img src="https://pic3.zhimg.com/v2-d5d6d36f49866f7db929c715a6b8606a_b.jpg" width=250 height=250 align=center class="profile-pic"/></div>  -->

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
